# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data (do NOT push CHAOS or processed slices)
data/raw/
data/processed/

# Model checkpoints
checkpoints/*
*.pth
*.pt

# Keep CSV logs
!checkpoints/*.csv 

# IDE / Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
